<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form>
     <label>Team Name: </label><input type="text" id="name">
     
     <input type="submit" value="Submit" id="submit">
   </form>
   
 </body>
</html>


